:root{
    --bg: #3b4664;
  --screen: #181f32;
  --keys: hsl(224, 30%, 21%);
  --text: #ffffff;
  --main-btn: #eae3dc;
  --equal: #f96c5b;
  --del-reset: #9daedb;
}

/* Theme 2 */
body.theme-2{
      --bg: #e6e6e6;
  --screen: #d3cdcd;
  --keys: #e5e4e0;
  --text: #36352d;
  --main-btn: #36352d;
  --equal: #fe8a37;
  --del-reset: #62b5bd;
}
/* Theme 3 */
body.theme-3{
  --bg: hsl(268, 75%, 9%);
  --screen: #1e0736;
  --keys: #331c4d;
  --text: #fceaff;
  --main-btn: #6c34ac;
  --equal: #fe8a37;
  --del-reset: #62b5bd;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3b4664;
  font-family: Arial, sans-serif;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* theme */
.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
  color: #fff;
}

.dash-control {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/* الأرقام فوق */
.btns-control {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  font-size: 14px;
}
.btns-control p{
  cursor: pointer;
}
/* theme-current */
.theme-current {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* control bar */
.control {
  background: #b5bbcb;
  width: 60px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

/* الدائرة */
.active {
  background: #f53c28;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

/* positions (3 themes) */
.active.move-2 {
  left: 23px;
}

.active.move-3 {
  left: 43px;
}
/* .control p:hover{
  cursor: pointer;
} */
.result {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.clac-result {
  width: 323px;
  background: #181f32;
  color: #fff;
  font-size: 30px;
  border-radius: 5px;
  height: 90px;
}
.buttons {
  width: 330px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  gap: 10px;
  background: hsl(224.52deg 29.52% 20.59%);
}
.btn {
  width: 70px;
  color: #000;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}
.btn-del {
  width: 70px;
  color: #ffffff;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  background: #9daedb;
}
.btn-big {
  width: 145px;
  background: #9daedb;
  color: #fff;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}
.btn-big1 {
  width: 145px;
  background: #f96c5b;
  color: #fff;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}
