:root {
  --bg: #3b4664;
  --screen: #181f32;
  --keys: hsl(224, 30%, 21%);
  --text: #ffffff;
  --main-btn: #eae3dc;
  --equal: #f96c5b;
  --del-reset: #9daedb;
}

/* Theme 2 */
body.theme-2 {
  --bg: #e6e6e6;
  --screen: #d3cdcd;
  --keys: #e5e4e0;
  --text: #36352d;
  --main-btn: #ffffff;
  --equal: #fe8a37;
  --del-reset: #62b5bd;
}

/* Theme 3 */
body.theme-3 {
  --bg: hsl(268, 75%, 9%);
  --screen: #1e0736;
  --keys: #331c4d;
  --text: hsl(51.53deg 91.71% 62.16%);
  --main-btn: #6c34ac;
  --equal: #fe8a37;
  --del-reset: #62b5bd;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: var(--bg);
  font-family: Arial, sans-serif;
  transition: 0.3s ease;
}

/* LAYOUT */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
  flex-direction: column;
  height: 100vh;
}
h1{
  color: var(--text);
}
/* THEME HEADER */
.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
  color: var(--text);
}

.dash-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.btns-control {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  font-size: 14px;
}

.btns-control p {
  cursor: pointer;
}

/* TOGGLE */
.theme-current {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control {
  background: #b5bbcb;
  width: 60px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.active {
  background: var(--equal);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.active.move-2 { left: 23px; }
.active.move-3 { left: 43px; }

/* SCREEN */
.result{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clac-result {
  width: 330px;
  height: 90px;
  background: var(--screen);
  color: var(--text);
  font-size: 30px;
  border-radius: 5px;
  border: none;
  text-align: right;
  padding: 10px;
}

/* BUTTONS */
.buttons {
  width: 330px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  background: var(--keys);
}

/* BUTTON */
.btn {
  width: 70px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: var(--main-btn);
  color: var(--text);
}

.btn-del {
  background: var(--del-reset);
  color: #fff;
    width: 70px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
   border: none;
  cursor: pointer;
}

.btn-big {
  width: 145px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: var(--del-reset);
  color: #fff;
  cursor: pointer;
}

.btn-big1 {
  width: 145px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: var(--equal);
  color: #fff;
  cursor: pointer;
}